<!doctype html>
<html lang="{{ DEFAULT_LANG }}" itemscope itemtype="http://schema.org/Person">
<head>
    {% block head %}
        <meta charset="utf-8">
        <!-- Site Meta Data -->
        <title>{% block title %} {{ SITENAME }} | {{ SIDEBAR_DIGEST }} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ AUTHOR_DESCRIPTION }}">
        <meta name="author" content="{{ AUTHOR }}">

        <link rel="shortcut icon" href="{{ FAVICON }}">

        <!-- schema.org -->
        <meta itemprop="name" content="{{ SITENAME }}">
        <meta itemprop="image" content="{{ AVATAR }}">
        <meta itemprop="description" content="{{ AUTHOR_DESCRIPTION }}">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <!-- Style Meta Data -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css"/>

        <!-- Feed Meta Data -->
        {% if FEED_ALL_ATOM %}
            <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
                  title="{{ SITENAME }} ATOM Feed"/>
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate"
                  title="{{ SITENAME }} RSS Feed"/>
        {% endif %}

        <!-- Twitter Feed -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
        <meta name="twitter:image" content="">
    {% endblock %}
</head>

<body>
<!-- Sidebar -->
<aside>
    <center><a href="{{ SITEURL }}"><img id="avatar" src="{{ AVATAR }}"></a></center>
    <!-- <h1><a href="{{ SITEURL }}"> {{ SITENAME }} </a></h1> -->
    <h1> {{SITENAME}} </h1>
    {% if SIDEBAR_DIGEST %}
        <p>{{ SIDEBAR_DIGEST }}</p>
    {% endif %}
    <br>

    {% if TWITTER_USERNAME %}
        <a class="twitter-follow-button"
           href="https://twitter.com/{{ TWITTER_USERNAME }}"
           data-show-count="false"
           data-lang="en">
            Follow @twitterdev
        </a>
        <script type="text/javascript">
            window.twttr = (function (d, s, id) {
                var t, js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                return window.twttr || (t = {
                        _e: [], ready: function (f) {
                            t._e.push(f)
                        }
                    });
            }(document, "script", "twitter-wjs"));
        </script>
    {% endif %}

    <nav class="nav">
        <ul class="list-bare">

            {% for title, link in MENUITEMS %}
                <li><a class="nav__link" href="{{ link }}">{{ title }}</a></li>
            {% endfor %}

            {% if DISPLAY_PAGES_ON_MENU and pages %}
              {% for p in pages %}
                {% if (p.title | lower != HOME_PAGE_NAME) %}
                  <li><a class="nav__link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endif %}
              {% endfor %}
            {% endif %}

        </ul>
    </nav>

    <p class="social">
        {% if SOCIAL %}
            {% for name, link in SOCIAL %}
                <a href="{{ link }}" target="_blank"><img
                        src="{{ SITEURL }}/theme/images/icons/{{ name|lower }}.png"></a>
            {% endfor %}
        {% endif %}
        {% if FEED_ALL_ATOM %}
            <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate">
                <img src="{{ SITEURL }}/theme/images/icons/rss.png"></a>
        {% endif %}
        {% if FEED_ALL_RSS %}
            <a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" rel="alternate">
                <img src="{{ SITEURL }}/theme/images/icons/rss.png"></a>
        {% endif %}
    </p>

    {% if DISPLAY_CATEGORIES_ON_MENU and categories %}
        <h2>Categories</h2>
        <ul class="navbar">
            {% for cat, null in categories %}
                <li{% if cat == category %} class="active"{% endif %}><a
                        href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if LINKS %}
        <h2 class="blog_roll_link"><br/>BLOGROLLS</h2>
        <ul class="navbar">
            {% for name, link in LINKS %}
                <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

</aside>

<!-- Content -->
<article>
    {% block content %}
    {% endblock %}
</article>

<!-- Footer -->
{% if DISPLAY_FOOTER or DISPLAY_FOOTER is not defined %}
    <!-- <footer>
        <p>
            Blog powered by <a href="http://getpelican.com/">Pelican</a>,
            which takes great advantage of <a href="http://python.org">Python</a>.
            Theme <a href="https://github.com/parbhat/pelican-blue">Pelican-Blue</a> by <a
                href="https://parbhatpuri.com/">@parbhat</a>.
        </p>
    </footer> -->
{% endif %}

{% if GOOGLE_ANALYTICS %}
    <!-- Analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endif %}

</body>
</html>
